/**{border: solid;}*/

:root{
--width:40%;
--mwidth:500px;
}

body{
    background-color:#532a7f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    
}
header{
    font-family:  "Archivo", sans-serif;
    margin-bottom: 50px;
    text-align: center;
    width: var(--width);
    min-width: var(--mwidth);
}

p{
    width: var(--width);
    min-width: var(--mwidth);
    padding: 0px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    
}
button{
 font-size: large;
 width: 120px;
 height: 50px;
 color: #532a7f;
 cursor: pointer;
}

#songs{
    width: var(--width);
    min-width: var(--mwidth);
    border: solid;
    display:none;
}

#songs div{
    display: inline-block;
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#songs div span:first-child{
    display: inline-block;
    background-color:blueviolet;
    margin: 10px;
    padding: 10px;
    
}

